<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>434999135176-sn3ofnim6ph0vmtp24a8i1o8sfcstr73.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.434999135176-sn3ofnim6ph0vmtp24a8i1o8sfcstr73</string>
	<key>API_KEY</key>
	<string>AIzaSyCJEHEvTJci9LptrQH7v5WPhuOuRnXfF_k</string>
	<key>GCM_SENDER_ID</key>
	<string>434999135176</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.younews.app</string>
	<key>PROJECT_ID</key>
	<string>you-app-5cd5f</string>
	<key>STORAGE_BUCKET</key>
	<string>you-app-5cd5f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:434999135176:ios:9a69a4cb1840dc8fdc0efd</string>
</dict>
</plist>